## ===========================================================================
## Boot_strap variable
## ===========================================================================
# LOGGER_PATH=""
# CONFIG_FILE=""

## The verbosity of the logs messages. 
##   Options: "ERROR", "WARN", "OK", "STEP", "INFO", "DEBUG"
# LOG_LEVEL="OK"

## Define the working directory where to file additional configuration file, 
## including and "override.config" file to be used by the script
# WORK_DIR="$PWD"

## ===========================================================================
## Install_git variables
## ===========================================================================
## Path where to store the systems git project folder
## e.g."/home/${USER}/git"; or /var/
# GIT_FOLDER="/opt/git"

## Name of the organisation repository on GitHub to use
# REPO_ORG=nimblebytes

## Name of the repository inside the organisation repository to be used
# REPO_PROJECT=Homelab_configs

## Which branch of the repository to loaded on the system. Useful if:
## - the release branch is not named "master"
## -  load test branch on testing systems
# REPO_BRANCH=master

## Defines which server project directory is to be used. The default uses the
## `$HOSTNAME`, but this can be overridden to load a different servers configs
## or define multiple servers/(sub)folders "dir1 dir2/dir3
# REPO_SERVER_PROJ="$(hostname)"

## ===========================================================================
## Install NFS/SMB variables
## ===========================================================================

## ===========================================================================
## Install Docker variables
## ===========================================================================

## Define the docker installation type. Options: "rootful", "rootless"
# DOCKER_INSTALL_TYPE="rootful"